<div>
  <%= link_to 'New task', 'tasks/new'%>
  <% @tasks.each do |task| %>
      <div>
        <%= task.name %>
        <%= link_to 'update task', edit_task_path(id: task.id)%>
        <%= link_to 'delete task', delete_task_path(id: task.id), method: :delete %>
      </div>
  <% end %>
</div>